.canvas-container {
  position: absolute;
  top:      75px;
  left:     30px;
  right:    30px;
  bottom:   60px;
  overflow: hidden;

  &__render-canvas {
    transform-origin: 0 0 0;
  }

  &__display-canvas {
    position: absolute;
    visibility: hidden;
  }
}
